# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might be created by a folder
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potential .NET / Visual Studio files
[Db]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
